include mixins

doctype
html(ng-app="app", ng-controller="SiteCtrl", lang="en")
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title(ng-bind="Site.getTitleWithSuffix()")=Config.siteName

    // CSS
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/styles/monokai_sublime.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/bower_components/angular-loading-bar/build/loading-bar.min.css")
    link(rel="stylesheet", href="/bower_components/angular-social/angular-social.css")
    link(rel="stylesheet", href="/styles/app.css")

    // Favicon
    link(rel="apple-touch-icon", sizes="57x57", href="/favicons/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/favicons/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/favicons/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/favicons/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/favicons/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/favicons/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/favicons/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/favicons/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192",  href="/favicons/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/favicons/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png")
    link(rel="manifest", href="/favicons/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")

  body(ng-class="Site.getBodyClass()")
    nav(role="navigation").navbar.navbar-default.navbar-static-top
      .container.navbar-container
        .navbar-header
          a.navbar-brand(href="/")
            img.pull-left.card3d(src="#{Config.imagesCdn}/avatar.png")
            | enden.com
            sup beta
            small Web development, gadgets and other stuff

        // Site navigation
        ul.nav.navbar-nav
          li: a(href="/") Home
          li: a(href="/blog") Blog
          li: a(href="/page/about") About
          li: a(href="/page/contact") Contact
            //li: a(href="/projects") Projects

    nav.navbar.navbar-static-top.navbar-social-links
      .container.navbar-container
        p.navbar-text.navbar-right.navbar-sticky
          span I can be found at:
          a.navbar-link.social-link(href="https://www.drupal.org/u/rafal.enden")
            i.fa.text-xl.fa-drupal.fa-colorized
            span.sr-only drupal.org
          a.navbar-link.social-link(href="https://github.com/rafalenden")
            i.fa.text-xl.fa-github.fa-colorized
            span.sr-only GitHub
          a.navbar-link.social-link(href="https://linkedin.com/in/rafalenden")
            i.fa.text-xl.fa-linkedin-square.fa-colorized
            span.sr-only LinkedIn
          a.navbar-link.social-link(href="https://twitter.com/rafalenden")
            i.fa.text-xl.fa-twitter.fa-colorized
            span.sr-only Twitter
          a.navbar-link.social-link(href="https://plus.google.com/100241749532114106014")
            i.fa.text-xl.fa-google-plus-square.fa-colorized
            span.sr-only Google Plus

  .container.page-container
    h1(ng-bind="Site.getTitle()", ng-if="Site.getTitle()", ng-hide="Site.isFrontPage()")

    ul(class="breadcrumb", ng-if="Site.getBreadcrumbs()")
      li: a(href="/") Home
      li(ng-repeat="crumb in Site.getBreadcrumbs()")
        a(ng-show="crumb.url", href="{{crumb.url}}") {{crumb.title}}
        span.divider(ng-show="crumb.url")
        // Current
        span.breadcrumb-current(ng-hide="crumb.url") {{crumb.title}}

    ul(class="nav nav-tabs", role="tablist", ng-if="Site.getTabs() && Site.getTabs().length > 1")
      li(ng-repeat="tab in Site.getTabs()", ng-class="{active: $location.path() === tab.url}")
        a(href="{{tab.url}}") {{tab.title}}
        span(class="divider")

    ng-view(autoscroll, class="view-animate")
      block content
          
  footer
    p.container © 2014-#{new Date().getFullYear()} #{Config.siteName}

  // Set up config variables.
  script
    | var Config = {};
    each val, key in Config
      | Config['#{key}'] = '#{val}';

  // JavaScript libraries
  script(src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js")

  // AngularJS and core modules
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js")
  //-script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js")
  //-script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js")

  //- Angular UI
  //-script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js")

  // Additional Angular libraries
  script(src="/bower_components/angular-load/angular-load.min.js")
  script(src="/bower_components/ngstorage/ngStorage.min.js")
  script(src="/bower_components/angular-loading-bar/build/loading-bar.min.js")
  script(src="/bower_components/angular-ui-ace/ui-ace.js")
  script(src="/bower_components/angular-utils-disqus/dirDisqus.js")

  // Social share buttons
  script(src="/bower_components/angular-social/angular-social.js")

  // App
  script(src="/app/app.js")
  script(src="/app/highlight.js")
  script(src="/app/common.js")
  script(src="/app/markdown.js")
  script(src="/app/home.js")
  script(src="/app/blog.js")
  script(src="/app/page.js")
  //script(src="/app/projects.js")
