ul.ng-social-buttons.ng-social-buttons-small.pull-right(data-url="post.url()", data-title="post.title")
  li.ng-social-facebook
    span.sr-only Share
    i.fa.fa-facebook
  li.ng-social-twitter
    span.sr-only Tweet
    i.fa.fa-twitter
  li.ng-social-linkedin
    span.sr-only Share
    i.fa.fa-linkedin
  li.ng-social-google-plus
    span.sr-only Share
    i.fa.fa-google-plus

p.blog-post-created
  i.fa.fa-calendar
  |  Posted on {{post.createdAt | date:'mediumDate'}}

.blog-post-body(markdown="{{post.body}}")

h2 Liked? Share with others
ul.ng-social-buttons(data-url="post.url()", data-title="post.title")
  li.ng-social-facebook
    span.share-button-label Share
    i.fa.text-xl.fa-facebook
  li.ng-social-twitter
    span.share-button-label Tweet
    i.fa.text-xl.fa-twitter
  li.ng-social-linkedin
    span.share-button-label Share
    i.fa.text-xl.fa-linkedin
  li.ng-social-google-plus
    span.share-button-label Share
    i.fa.text-xl.fa-google-plus

h2(ng-show="showComments") Comments

dir-disqus(
  disqus-shortname="{{disqus_shortname}}"
  disqus-identifier="{{post._id}}"
  disqus-url="{{post.url()}}"
  disqus-title="{{post.title}}"
  ready-to-bind="{{showComments}}"
)

a(href="http://disqus.com", class="dsq-brlink", ng-hide="showComments") blog comments powered by Disqus

p: a.go-back(href='/blog')
  span.glyphicon.glyphicon-chevron-left
  | Go back to blog
