p.blog-post-created
  i.fa.fa-calendar
  |  Posted on {{post.createdAt | date:'mediumDate'}}

.blog-post-body(markdown="{{post.body}}")

ul(ng-social-buttons, data-url="post.url()", data-title="post.title")
  li: strong Share:
  li.ng-social-facebook Facebook
  li.ng-social-google-plus Google+
  li.ng-social-twitter Twitter

h2(ng-show="showComments") Comments

dir-disqus(
  disqus-shortname="{{disqus_shortname}}"
  disqus-identifier="{{post._id}}"
  disqus-url="{{post.url()}}"
  disqus-title="{{post.title}}"
  ready-to-bind="{{showComments}}"
)

a(href="http://disqus.com", class="dsq-brlink", ng-hide="showComments") blog comments powered by Disqus

p: a.go-back(href='/blog')
  span.glyphicon.glyphicon-chevron-left
  | Go back to blog
